@import "tailwindcss";

@theme{
  --color-bgg: #E8DED5;
  --color-btn: #4E342E;
  --color-textcc: #462D16;
  --color-textc: #f5f5f5;
  --font-pop: "Poppins", sans-serif;
}

@layer {
  .defaultfs {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.custom-swiper {
  overflow: hidden !important;
}

.custom-swiper .swiper-wrapper {
  overflow: visible !important;
}

.custom-swiper .swiper-slide {
  overflow: visible !important;
}

.custom-dot {
  width: 8px;
  height: 8px;
  background: #bfa58a;
  border-radius: 999px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.6;
}

/* Active pill */
.swiper-pagination-bullet-active.custom-dot {
  width: 36px;
  height: 8px;
  background: #8b6b4a;
  opacity: 1;
  border-radius: 999px;
}